body{
    background-color: #8232ee;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.caixadecodigo {
  display: flex;
  gap: 15px;
  margin: 70px;
}

.caixadecodigo input {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 22px;
  background: #dcdcdc;
  outline: none;
  transition: 0.2s;
}

.caixadecodigo input:focus {
  background: white;
  transform: scale(1.1);
}
button{
    border-radius: 20px;
    background: rgba(69, 16, 169, 0.93);
    
    width: 243px;
    height: 49px;
    color: #FFFFFF;
    margin: 70px 10px 10px 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
}